.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.container h1 {
  font-weight: bold;
  margin: 0;
}

.container h2 {
  text-align: center;
}

.container p {
  font-weight: 200;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  margin: 1.25rem 0 1.87rem;
}

.container span {
  font-size: 0.75rem;
}

.container a {
  color: #333;
  font-size: 0.875rem;
  text-decoration: none;
  margin: 15px 0;
}

.hide {
  display: none;
}
