.main-nav {
  background-color: #212121;
  position: absolute;
  height: 100%;
  width: 50px;
  overflow: hidden;
  transition: width 0.5s linear;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav li {
  display: flex;
  padding: 0.5rem 0;
}

.main-nav li a {
  color: #999999da;
  display: block;
  font-size: 1rem;
  text-decoration: none;
  transform: translateZ(0) scale(1, 1);
  transition: all 0.1s linear;
}

.main-nav li div {
  color: #999999da;
  display: block;
  font-weight: 400;
  font-size: 0.8rem;
}

.main-nav li:hover {
  background-color: #27ace0;
  color: #ffffff;
}

.main-nav li .fa {
  width: 50px;
  height: 15px;
}

.main-nav:hover {
  width: 100%;
  overflow: visible;
}

.logout {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.logout li {
  margin: 0;
}
